---
import Slider from "../Slider.astro";
---

<section id="disenoGraficoPage" class="w-screen bg-white">
    <header class="flex flex-col gap-5 pb-5 p-10">
        <h1 class="text-[#333] text-4xl font-black">01</h1>
        <h1 class="text-primaryColor text-4xl font-black pickedColor">DISEÑO <br />
            GRÁFICO
        </h1>
        <span class="bg-primaryColor w-[25%] h-[4px] flex pickedColor"></span>
    </header>
    <p class="max-w-xl text-balance font-light px-10">diseñamos tu <b class="font-black text-primaryColor pickedColor">identidad</b>
        para expresar los valores 
        e ideales que les quieras
        transmitir a tus futuros clientes. <br/> <br/>
    </p>
    <Slider />
</section>