---
import Slider from "../Slider.astro";

---

<section id="desarrolloWebPage" class="w-screen bg-white md:pt-[80px] md:px-24 lg:px-52">
    <header class="flex flex-col gap-5 pb-5 p-10">
        <h1 class="text-[#333] text-4xl lg:text-5xl font-black">03</h1>
        <h1 class="text-primaryColor text-4xl lg:text-5xl font-black">PAGINA <br />
            WEB
        </h1>
        <span class="bg-[#333] w-[25%] xl:w-[15%] h-[4px] flex"></span>
    </header>
    <p class="max-w-xl text-balance font-light px-10 xl:text-xl">
        Construidas con la última tecnología, optimizada para funcionar en cualquier dispositivo movil.
    </p>
    <Slider />
</section>