---
import Slider from "../Slider.astro";

---

<section class="w-screen bg-white">
    <header class="flex flex-col gap-5 pb-5 p-10">
        <h1 class="text-[#333] text-4xl font-black">03</h1>
        <h1 class="text-primaryColor text-4xl font-black pickedColor">PAGINA <br />
            WEB
        </h1>
        <span class="bg-[#333] w-[25%] h-[4px] flex"></span>
    </header>
    <p class="max-w-xl text-balance font-light px-10">
        Construidas con la última tecnología, optimizada para funcionar en cualquier dispositivo movil.
    </p>
    <Slider />
</section>