---
import CerrarMenuBtn from "./CerrarMenuBtn.astro";
import Logo from "./Logo.astro";
import MenuBtn from "./MenuBtn.astro";


---

<header id="navbar" class="text-white fixed left-0 w-screen z-50 top-0 py-5 md:px-10">
    <nav class="flex justify-between px-5">
        <div class="items-center gap-1 flex">
            <Logo classes="w-[20px] xl:w-[40px]"/>
            <h3 class="xs:text-lg font-medium xl:text-2xl">atenea</h3>
        </div>
        <ul class="xs:hidden lg:hidden">
            <li>
                <a href="#mainPage">Inicio</a>
            </li>
            <li>
                <a href="#disenoGraficoPage">Diseño Gráfico</a>
            </li>
            <li>
                <a href="#redesSocialesPage">Redes Sociales</a>
            </li>
            <li>
                <a href="#desarrolloWebPage">Desarrollo Web</a>
            </li>
        </ul>

        <button id="menuButton" class="lg:hidden">
            <MenuBtn />
        </button>

        <ul id="menuMobile" class="w-screen bg-[#212121] z-[100] text-center flex-col fixed top-0 animate__animated animate__slideInDown right-0 left-0 mx-auto hidden xs:py-10 md:py-0 lg:flex lg:flex-row lg:relative lg:bg-transparent lg:gap-5 lg:justify-end">
            <div class="absolute right-5 lg:hidden cursor-pointer">
                <CerrarMenuBtn />
            </div>
            <li class="py-5">
                <a id="inicioLink" class="activeLink" href="#mainPage">inicio</a>
            </li>
            <li class="py-5">
                <a id="disenoGraficoLink" href="#disenoGraficoPage">diseño grafico</a>
            </li>
            <li class="py-5">
                <a id="redesSocialesLink" href="#redesSocialesPage">redes sociales</a>
            </li>
            <li class="py-5">
                <a id="paginaWebLink" href="#desarrolloWebPage">paginas web</a>
            </li>
            <li class="py-5">
                <a id="clientesLink" href="#clientesPage">clientes</a>
            </li>
            <li class="py-5">
                <a id="contactoLink" href="#contactoPage">contacto</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    .activeLink {
        color: #00FFF0;
        font-weight: bold;
    }
</style>

<script>
    const mainPage = document.querySelector('#mainPage') as HTMLAnchorElement;
    const disenoGraficoPage = document.querySelector('#disenoGraficoPage') as HTMLAnchorElement;
    const redesSocialesPage = document.querySelector('#redesSocialesPage') as HTMLAnchorElement;
    const desarrolloWebPage = document.querySelector('#desarrolloWebPage') as HTMLAnchorElement;
    const contactoPage = document.querySelector('#contactoPage') as HTMLAnchorElement;
    const clientesPage = document.querySelector('#clientesPage') as HTMLAnchorElement;
    const navbar = document.querySelector('#navbar');
    const inicioLink = document.querySelector('#inicioLink');
    const disenoGraficoLink = document.querySelector('#disenoGraficoLink');
    const redesSocialesLink = document.querySelector('#redesSocialesLink');
    const paginaWebLink = document.querySelector('#paginaWebLink');
    const contactoLink = document.querySelector('#contactoLink');
    const clientesLink = document.querySelector('#clientesLink');

    function updateActiveLink() {
        const offset = 80;
        const sections = [
            { section: mainPage, link: inicioLink },
            { section: disenoGraficoPage, link: disenoGraficoLink },
            { section: redesSocialesPage, link: redesSocialesLink },
            { section: desarrolloWebPage, link: paginaWebLink },
            { section: contactoPage, link: contactoLink },
            { section: clientesPage, link: clientesLink}
        ];

        sections.forEach(({ section, link }) => {
            const sectionTop = section.offsetTop;
            const sectionBottom = sectionTop + section.offsetHeight;

            if (window.scrollY + offset >= sectionTop && window.scrollY + offset < sectionBottom) {
                link.classList.add('activeLink');
            } else {
                link.classList.remove('activeLink');
            }
        });
    }

    window.addEventListener('scroll', () => {
        updateActiveLink();

        if (window.scrollY > 100) {
            navbar.classList.add('bg-[#212121]');
        } else {
            navbar.classList.remove('bg-[#212121]');
        }
    });
</script>

