---
import Logo from "../Logo.astro";
import Redes from "../Redes.astro";
---

<footer class="bg-[#212121] w-screen pb-24 px-5 py-5">
   <div class="flex justify-between items-center pb-10">
        <div class="flex items-center gap-1">
            <Logo classes="w-[20px] h-[20px]"/>
            <h3 class="text-white text-2xl font-medium">atenea</h3>
        </div>
        <div class="flex gap-2 items-center">
            <p class="text-xs text-white text-right">seguinos en<br/>nuestras redes!</p>
            <Redes ancho="24" alto="24"/>
        </div>
   </div>
   <p class="text-white text-xs font-extralight text-center">
    designed & developed by ATENEA Studio.
   </p>
</footer>