---
import Slider from "../Slider.astro";
---

<section id="redesSocialesPage" class="w-screen bg-soialsBkg bg-cover bg-no-repeat bg-left bg-fixed md:pt-[80px] md:px-24 lg:px-52 xs:bg-cover xs:object-cover">
    <header class="flex flex-col gap-5 pb-5 p-10">
        <h1 class="text-[#fff] text-4xl font-black md:text-5xl">02</h1>
        <h1 class="text-primaryColor text-4xl font-black md:text-5xl">REDES <br />
            SOCIALES
        </h1>
        <span class="bg-white w-[25%] h-[4px] flex xl:w-[15%]"></span>
    </header>
    <p class="md:min-h-20 max-w-xl text-balance font-light text-white px-10 md:text-lg xl:text-xl">
        Desarrollamos <b class="font-bold">estrategias</b> visuales
        en redes para <b class="font-bold">fortalecer</b> y
        <b class="font-bold pickedColor">escalar</b> tu marca.
    </p>
    <Slider direction="flex-row-reverse md:flex-row"/>
</section>