---
import Slider from "../Slider.astro";
---

<section id="redesSocialesPage" class="w-screen bg-soialsBkg bg-cover bg-no-repeat bg-left bg-fixed">
    <header class="flex flex-col gap-5 pb-5 p-10">
        <h1 class="text-[#fff] text-4xl font-black">02</h1>
        <h1 class="text-primaryColor text-4xl font-black pickedColor">REDES <br />
            SOCIALES
        </h1>
        <span class="bg-white w-[25%] h-[4px] flex pickedColor"></span>
    </header>
    <p class="max-w-xl text-balance font-light text-white px-10">
        Desarrollamos <b class="font-bold pickedColor">estrategias</b> visuales
        en redes para <b class="font-bold pickedColor">fortalecer</b> y
        <b class="font-bold pickedColor">escalar</b> tu marca.
    </p>
    <Slider direction="flex-row-reverse"/>
</section>