---
import Slider from "../Slider.astro";
---

<section class="w-screen bg-clientesBkg bg-center bg-cover bg-no-repeat pb-10 bg-fixed">
    <header class="flex flex-col gap-10 pb-5 p-10">
        <h1 class="text-white text-4xl font-black leading-[0px]">04</h1>
        <h1 class="text-primaryColor text-4xl font-black pickedColor">CLIENTES
        </h1>
        <span class="bg-white w-[25%] h-[4px] flex"></span>
    </header>
    <div class="grid xs:grid-cols-[150px,150px] px-5 place-content-center gap-3 xl:grid-cols-[300px,300px,300px,300px,300px]">
        <img src="" alt="" class="border w-[150px] h-[150px] xl:w-[300px]">
        <img src="" alt="" class="border w-[150px] h-[150px] xl:w-[300px]">
        <img src="" alt="" class="border w-[150px] h-[150px] xl:w-[300px]">
        <img src="" alt="" class="border w-[150px] h-[150px] xl:w-[300px]">
        <img src="" alt="" class="border w-[150px] h-[150px] xl:w-[300px]">
        <img src="" alt="" class="border w-[150px] h-[150px] xl:w-[300px]">
        <img src="" alt="" class="border w-[150px] h-[150px] xl:w-[300px]">
        <img src="" alt="" class="border w-[150px] h-[150px] xl:w-[300px]">
        <img src="" alt="" class="border w-[150px] h-[150px] xl:w-[300px]">
        <img src="" alt="" class="border w-[150px] h-[150px] xl:w-[300px]">
    </div>
</section>